<footer class="tm-footer">

	<div class="tm-social-icons-container text-xs-center">
		<a href="#" class="tm-social-link">
			<i class="fa fa-facebook"></i>
		</a>
		<a href="#" class="tm-social-link">
			<i class="fa fa-google-plus"></i>
		</a>
		<a href="#" class="tm-social-link">
			<i class="fa fa-twitter"></i>
		</a>
		<a href="#" class="tm-social-link">
			<i class="fa fa-behance"></i>
		</a>
		<a href="#" class="tm-social-link">
			<i class="fa fa-linkedin"></i>
		</a>
	</div>

	<p class="tm-copyright-text">Copyright &copy; 2017 Your Company - Design: Tooplate</p>

</footer>