<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head th:replace="common/head"> 
<style>
tbdoy>tr:hover {
	cursor: pointer;
}
</style>

</head>

<body>
	<nav th:replace="common/nav"></nav>

	<div class="container">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading" th:text="${board.bbsId}"></div>
				<div class="panel-heading" th:text="${board.bbsTitle}"></div>
				<div class="panel-body" th:text="${board.bbsContent}"></div>
				<div class="panel-footer" th:text="${board.AuthorMember}"></div>
			</div>
		</div>
	</div>
	<div class="container text-right">
		<button type="button" class="btn btn-default" id="list">목록</button>
		<button type="button" class="btn btn-default" id="update">수정</button>
		<button type="button" class="btn btn-default" id="delete">삭제</button>
	</div>


 <footer th:replace="common/footer"></footer> 




	<script>
		$("#list").click(function() {
			location = "/board/";
			return false;
		});
		
		$("#update").click(function() {
			location = "/board/update/" + [[${board.bbsId}]]; 
			return false;
		});
		
		$("#delete").click(function() {
			if(confirm("삭제하시겠습니까?")){
			location = "/board/delete/" + [[${board.bbsId}]];
			}
			return false;
		});
	</script>

</body>
</html>
