<!DOCTYPE html>
<html lang="en">
<head th:replace="common/head"></head>

<body>
	<div class="cd-hero">
		<!-- Navigation -->
		<div class="cd-slider-nav">
			<nav class="navbar">
				<div class="tm-navbar-bg">
					<a class="navbar-brand text-uppercase" href="#"><i class="fa fa-gears tm-brand-icon"></i>펫타그램</a>
					<button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#tmNavbar">&#9776;</button>
					<div class="collapse navbar-toggleable-md text-xs-center text-uppercase tm-navbar" id="tmNavbar">
						<ul class="nav navbar-nav">
							<li class="nav-item active selected">
								<a class="nav-link" href="#0" data-no="1">Board
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#0" data-no="2">pet's info</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#0" data-no="4">Our Team</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#0" data-no="5" id="signin2">Contact Info</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#0" data-no="6" id="signin">Login</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>

		<ul class="cd-hero-slider">
			<!-- Page 1 Gallery One -->
			<li class="selected">
				<div class="cd-full-width">
					<div class="container-fluid js-tm-page-content" data-page-no="1" data-page-type="gallery">
						<div class="tm-img-gallery-container">
							<div class="tm-img-gallery gallery-one">
								<!-- Gallery One pop up connected with JS code below -->
								<div class="tm-img-gallery-info-container">
									<h2 class="tm-text-title tm-gallery-title tm-white">
										<span class="tm-white">펫타그램 펫게시판</span>
									</h2>
									<p class="tm-text">펫게시판 인트로 설명</p>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-01-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Image
												<span>One</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-01.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-02-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Image
												<span>Two</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-02.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-03-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Image
												<span>Three</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-03.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-04-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Image
												<span>Four</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-04.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-05-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Image
												<span>Five</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-05.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-06-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Image
												<span>Six</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-06.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-07-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Image
												<span>Seven</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-07.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-08-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Image
												<span>Eight</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-08.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-09-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Image
												<span>Nine</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-09.jpg">View more</a>
										</figcaption>
									</figure>
								</div>


							</div>
						</div>
					</div>
				</div>
			</li>

			<!-- Page 2 Gallery Two -->
			<li>
				<div class="cd-full-width">
					<div class="container-fluid js-tm-page-content" data-page-no="2" data-page-type="gallery">
						<div class="tm-img-gallery-container">
							<div class="tm-img-gallery gallery-two">
								<!-- Gallery Two pop up connected with JS code below -->

								<div class="tm-img-gallery-info-container">
									<h2 class="tm-text-title tm-gallery-title">
										<span class="tm-white">Multi Two Gallery</span>
									</h2>
									<p class="tm-text"><span class="tm-white">Lorem</span>
									</p>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-12-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Picture
												<span>One</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-12.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-11-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Picture
												<span>Two</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-11.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-10-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Picture
												<span>Three</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-10.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-09-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Picture
												<span>Four</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-09.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-08-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Picture
												<span>Five</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-08.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-07-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Picture
												<span>Six</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-07.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-06-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Picture
												<span>Seven</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-06.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-05-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Picture
												<span>Eight</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-05.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-04-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Picture
												<span>Nine</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-04.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-03-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Picture
												<span>Ten</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-03.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-02-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Picture
												<span>Eleven</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-02.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-01-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Picture
												<span>Twelve</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-01.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>

			<!-- Page 3 Gallery Three -->
			<li>
				<div class="cd-full-width">
					<div class="container-fluid js-tm-page-content" data-page-no="3" data-page-type="gallery">
						<div class="tm-img-gallery-container">
							<div class="tm-img-gallery gallery-three">
								<!-- Gallery Two pop up connected with JS code below -->

								<div class="tm-img-gallery-info-container">
									<h2 class="tm-text-title tm-gallery-title">
										<span class="tm-white">Third Multi Gallery</span>
									</h2>
									<p class="tm-text">
										<span class="tm-white">Lorem</span>
									</p>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-01-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Picture
												<span>One</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-01.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-06-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Picture
												<span>Two</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-06.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-13-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Picture
												<span>Three</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-13.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-12-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Picture
												<span>Four</span>
											</h2>
											<p class="tm-figure-description">Lorem</p>
											<a href="img/tm-img-12.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-05-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Picture
												<span>Five</span>
											</h2>
											<p class="tm-figure-description">Suspendisse id placerat risus. Mauris quis luctus risus.</p>
											<a href="img/tm-img-05.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-09-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Picture
												<span>Six</span>
											</h2>
											<p class="tm-figure-description">Maecenas purus sem, lobortis id odio in sapien.</p>
											<a href="img/tm-img-09.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-11-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Picture
												<span>Seven</span>
											</h2>
											<p class="tm-figure-description">Suspendisse id placerat risus. Mauris quis luctus risus.</p>
											<a href="img/tm-img-11.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
								<div class="grid-item">
									<figure class="effect-bubba">
										<img src="../img/tm-img-14-tn.jpg" alt="Image" class="img-fluid tm-img">
										<figcaption>
											<h2 class="tm-figure-title">
												Picture
												<span>Eight</span>
											</h2>
											<p class="tm-figure-description">Maecenas purus sem, lobortis id odio in sapien.</p>
											<a href="img/tm-img-14.jpg">View more</a>
										</figcaption>
									</figure>
								</div>
							</div>
						</div>
						<!-- .tm-img-gallery-container -->
					</div>
				</div>
			</li>

			<!-- Page 4 About -->
			<li>
				<div class="cd-full-width">
					<div class="container-fluid js-tm-page-content tm-page-width tm-pad-b" data-page-no="4">
						<div class="row tm-white-box-margin-b">
							<div class="col-xs-12">
								<div class="tm-flex">
									<div class="tm-bg-white-translucent text-xs-left tm-textbox tm-textbox-padding">
										<h2 class="tm-text-title">About our team</h2>
										<p class="tm-text">Lorem</p>
									</div>
								</div>
							</div>
						</div>

						<div class="row tm-white-box-margin-b">
							<div class="col-xs-12">
								<div class="tm-flex">
									<div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding">
										<h2 class="tm-text-title">Nulla vitae magna</h2>
										<p class="tm-text">Lorem</p>
									</div>
									<div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding">
										<h2 class="tm-text-title">Vivamus aliquam turpis</h2>
										<p class="tm-text">Lorem</p>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<div class="tm-flex">
									<div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding">
										<h2 class="tm-text-title">블라블라</h2>
										<p class="tm-text">Lorem</p>
									</div>
									<div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding">
										<h2 class="tm-text-title">블라블라</h2>
										<p class="tm-text">Lorem</p>
									</div>
									<div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding">
										<h2 class="tm-text-title">블라블라</h2>
										<p class="tm-text">Lorem</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .cd-full-width -->

			</li>

			<!-- Page 5 Contact Us -->
			<li>
				<div class="cd-full-width">
					<div class="container-fluid js-tm-page-content tm-page-pad" data-page-no="5">
						<div class="tm-contact-page">
							<div class="row">
								<div class="col-xs-12">
									<div class="tm-flex tm-contact-container">
										<div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding tm-textbox-padding-contact">
											<h2 class="tm-contact-info">Say hello to us!</h2>
											<p class="tm-text">Lorem</p>

											<!-- contact form -->
											<form action="index.html" method="post" class="tm-contact-form">

												<div class="form-group">
													<input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Name" required />
												</div>

												<div class="form-group">
													<input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Email" required />
												</div>

												<div class="form-group">
													<textarea id="contact_message" name="contact_message" class="form-control" rows="5" placeholder="Your message" required></textarea>
												</div>

												<button type="submit" class="pull-xs-right tm-submit-btn">Send</button>

											</form>
										</div>

										<div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding tm-textbox-padding-contact">
											<h2 class="tm-contact-info">회사주소</h2>
											<!-- google map goes here -->
											<div id="google-map"></div>
										</div>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>
				<!-- .cd-full-width -->
			</li>
		</ul>
		<!-- .cd-hero-slider -->
		<footer th:replace="common/footer"></footer>
	</div>
	<!-- .cd-hero -->

	<!-- Preloader, https://ihatetomatoes.net/create-custom-preloading-screen/ -->
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
 	<script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>        
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script> <!-- Tether for Bootstrap (http://stackoverflow.com/questions/34567939/how-to-fix-the-error-error-bootstrap-tooltips-require-tether-http-github-h) --> 
	<script src="/js/bootstrap.min.js"></script>             <!-- Bootstrap js (v4-alpha.getbootstrap.com/) -->
    <script src="/js/hero-slider-main.js"></script>          <!-- Hero slider (https://codyhouse.co/gem/hero-slider/) -->
    <script src="/js/jquery.magnific-popup.min.js"></script> <!-- Magnific popup (http://dimsemenov.com/plugins/magnific-popup/) -->

	<script type="text/javascript" src="/js/list.js"></script>
	
</body>
</html>


<!-- 
<!DOCTYPE html>
<html lang="en">
<head th:replace="common/head">
</head>

<body>
	<nav th:replace="common/nav"></nav>

	<div class="jumbotron">
		<div class="container text-center">
			<form method="post" action="/board/write">
				<div class="form-group">
					<label for="title">Title:</label>
					<input type="text" class="form-control" name="title" id="title">
				</div>
				<div class="form-group">
					<label for="content">Content:</label>
					<textarea class="form-control" rows="5" name="content" id="content"></textarea>
				</div>
				<button type="submit" id="complete" class="btn btn-primary btn-block">글쓰기</button>
			</form>
		</div>
	</div>

	<footer class="container-fluid text-center" th:replace="common/footer"> </footer>

	<script>
		/* 	$("#complete").click(function() {
				$("form").submit();
				return false;
			}); 
		 */

		$("#complete").click(
				function() {
					$.ajax({
						url : '/board/write',
						type : 'post',
						data : $("form").serialize(),//form에 있는거 serialize()
						success : function(res) {
							/* 응답이 0이면 로그인 팝업창 띄우기 */
							if (res == "0") {
								// 팝업 띄우기      주소,       이름,           옵션
								window.open("/signin", "login",
										"width=300 height=200");
							} else {
								alert("글쓰기 완료되었습니다.");
								location = "/board/";
							}

						}
					});
					return false;
				});
	</script>

</body>
</html>

 -->



<!-- 

<!DOCTYPE html>
<html>
<head th:replace="common/head">
<style>
tbody>tr:hover {
	cursor: pointer;
}
</style>
</head>
<body>

	<nav th:replace="common/nav"></nav>

	<div class="jumbotron">
		<div class="container text-center">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>작성자</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="board : ${list}" th:attr="id=${board.id}">
						<td th:text="${board.id}"></td>
						<td th:text="${board.title}"></td>
						<td th:text="${board.userId}"></td>
					</tr>
				</tbody>
			</table>

			<ul class="pagination">
				이전 페이지 넘어가기 버튼 추가 
				<li>
					<a th:if="${startPage} > 1" th:href="@{/board/(page=${startPage} - 10)}">&lt;</a>
				</li>
				<th:block th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}">
					<li th:class="${page == pageNumber} ? active">
						//class="active" 현재 페이지 일때 
						<a th:href="@{/board/(page=${pageNumber})}" th:text="${pageNumber}"></a>
					</li>
				</th:block>
			 다음 페이지 넘어가기 버튼 추가 
				<li>
					<a th:if="${totalPage} > ${endPage}" th:href="@{/board/(page=${startPage} + 10)}">&gt;</a>
				</li>
			</ul>


			<button type="button" class="btn btn-primary btn-block" id="write">글쓰기</button>
		</div>
	</div>

	<footer th:replace="common/footer"> </footer>

	

	<script>
    $("#write").click(function() {
      location = "/board/write";
    });

    $("tbody > tr").click(function() {
      var id = $(this).attr("id");
      // 			var id = jQuery(this).attr("id");
      location = "/board/" + id;
    });
  </script>
</body>
</html>

 -->




