<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Thymeleaf3</title>
</head>
<body>
	<script type="text/javascript" sec:authorize="!isAuthenticated()">
        location.href = "/home"
    </script>
	
	<form method="post">
		<h3>Logout</h3>
		<input type="hidden" th:name="${_csrf.parameterName}"
							 th:value="${_csrf.token}"/>
		<button type="submit" class="btn">LogOut</button>		
		<p><sec:authentication property="principal.username"/>ㅎ</p>

	</form>

</body>
</html>