<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>펫타그램</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

  <script type="text/javascript" sec:authorize="!isAuthenticated()">
        location.href = "/home"
    </script>
    
	<div class="wrap">
		<div class="form-wrap">
			<div class="button-wrap">
				<div id="btn"></div>
				<button type="button" class="togglebtn" onclick="register()">회원정보수정</button>
			</div>

			<form method="post" id="login" class="input-group">
				<div th:if="${errorMessage != null}">
					<h2 th:text="${errorMessage}"></h2>
				</div>
				<div th:if="${param.logout !=null}">
					<h2>You have been logged out.</h2>
				</div>
			</form>

			<form method="post" action="/memberInfoModification" id="register" class="input-group">
				<div class="form-group">
<!-- 				<input type="text" name="uid" class="input-field" placeholder="User ID" id=userId th:value="${session.user_info.uid}" required> -->
				<div class="check_font" id="id_check"></div>
				</div>
				<div class="form-group">
				<input type="password" name="upw" class="input-field" id=userpw placeholder="Enter Password" required>
				<input type="password" name="upw2" class="input-field" id=userpw2 placeholder="Check your Password" required>
				<div class="check_font" id="pw_check"></div>
				</div>
				<input type="text" name="uname" class="input-field" placeholder="Your Name" required>
				<input type="email" name="uemail" class="input-field" placeholder="Your Email" required>
				<input type="checkbox" name="roles[0].rolename" value="BASIC" checked>BASIC
				<input type="checkbox" name="roles[1].rolename" value="MANAGER" checked>MANAGER
				<input type="checkbox" name="roles[2].rolename" value="ADMIN" checked>ADMIN
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<button class="submit">REGISTER</button>
			</form>
		</div>
	</div>
	
	<script>
		var x = document.getElementById("login");
		var y = document.getElementById("register");
		var z = document.getElementById("btn");

		function login() {
			x.style.left = "50px";
			y.style.left = "450px";
			z.style.left = "0";
		}

		function register() {
			x.style.left = "-400px";
			y.style.left = "50px";
			z.style.left = "110px";
		}
	</script>
<script>
	$("#userpw2").hide();
</script>
<script>
	$("#userpw").one("focusin", function(){
		$("#userpw2").show();
	});
</script>
	
<script>
// 패스워드 유효성 검사 같으면 0 다르면 1
	$("#userpw2").blur(function() {
		var userpw1 = $('#userpw').val();
		var userpw2 = $('#userpw2').val();
		var csrf = $('#register > [name=_csrf]').val();
		console.log(csrf)
		$.ajax({
			url : 'loginResistForm/pwCheck' , 
			type : 'post',
			data : {
				'upw' : userpw1 , 'upw2' : userpw2,
				'_csrf' : csrf
			},
			success : function(data) {
				
				if (data == 1) {
						// 1 : 다르면
						$("#pw_check").text("비밀번호가 서로 다릅니다.");
						$("#pw_check").css("color", "red");
						$("#reg_submit").attr("disabled", true);
					}
				else {
							$('#pw_check').text('비밀번호가 일치합니다.');
							$('#pw_check').css('color', 'green');
							$("#reg_submit").attr("disabled", true);	
					}
				}, error : function() {
						console.log("실패");
				}
			});
		});
</script>

</body>
</html>