<!doctype html>
<html lang="ko-kr">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>부트스트랩</title>

<!-- Bootstrap -->
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/kfonts2.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="container">
		<h1>모달</h1>
		<hr>
		<!-- Button trigger modal -->
		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">여기를 클릭하시면 모달 윈도우가 실행됩니다.</button>
		<!-- 
data-target="#myModal" : 버튼 클릭 시 일치하는 id값이 적용된 모달을 띄운다.
id값을 #을 붙여서 연결을 해주는 것 (id="myModal"이 작동한다.)
data-toggle="modal" : 버튼 또는 링크를 토글할 때 모달기능을 수행하겠다는 의미
-->
		<hr>
		<a href="#myModal" data-toggle="modal"> 여기를 클릭하시면 모달 윈도우가 실행됩니다. </a>
		<!-- a 태그에는 href="#myModal"써도 되고 data-target="#myModal"써도 되고 둘 다 써도 된다. -->
		<!-- Modal(팝업창 같은것) -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<!-- class="modal-dialog"에 modal-lg추가하면 큰모달,  modal-sm추가하면 작은모달, 아무것도 안쓰면 중간크기의 모달이 만들어진다. -->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">모달 제목</h4>
					</div>
					<!-- 모달창 영역에 버튼태그의 data-dismiss 속성을 적용하면 모달을 닫게하는 기능을 적용하겠다라는 의미 
      class="modal fade"에서 fade없으면 부드럽게 창이 뜨지 않는다.
      -->

					<div class="modal-body">
						<p>여기는 내용이 들어 가는 곳</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
						<button type="button" class="btn btn-primary">변경 사항 저장</button>
					</div>
					<!-- data-dismiss="modal" : 모달을 닫는 기능을 갖고있다. -->

				</div>
				<!-- 모달 콘텐츠 -->
			</div>
			<!-- 모달 다이얼로그 -->
		</div>
		<!-- 모달 전체 윈도우 -->
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../js/bootstrap.min.js"></script>

</body>
</html>